
{%extends 'base.html'%}


{%block content%}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Cumque, culpa commodi ratione possimus quasi rerum molestias cum reiciendis? 
    Fuga eaque id eum eos veniam asperiores quos at eligendi consectetur 
    optio dignissimos quas iure delectus non fugit ipsa nihil tempore 
    laudantium, minus illum cupiditate officiis voluptas? Blanditiis 
    quibusdam ipsum saepe, cumque, dolorum officiis molestiae impedit 
    magni eveniet voluptates, numquam mollitia perferendis sequi ut 
    repellat odit delectus ea unde deleniti assumenda reprehenderit 
    nesciunt necessitatibus adipisci obcaecati? Praesentium, natus? 
    Ipsam soluta sequi culpa magnam aspernatur at a asperiores voluptatem
     possimus repellat, enim quisquam totam rerum voluptatum sint 
     tempora inventore aliquam dolore. Dignissimos, libero.</p>
{%endblock%}